[core]
	pager = delta
	ignorecase = false
	excludesFile = .dotfiles/git/.gitignore_global
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true
  side-by-side = true
[diff]
  colorMoved = default 
[alias]
	glog = log --all --decorate --oneline --graph
	llog = log --date=human \
	 --pretty=format:'%C(Yellow)%<(10)%h%C(reset)%C(Green)%<(15)%ad%C(reset) \
	 %C(Cyan)%<(15)%an%C(reset) %s%C(Red)%d%C(reset)'
	# http://git-scm.com/docs/git-log#_pretty_formats
	# details about formatting: 
	# https://stackoverflow.com/a/1441062/8031058
	# https://stackoverflow.com/a/3631819/8031058
	tag-sync = !git fetch upStream --tags --force && git push origin --tags
	main-sync = !git pull upStream main && git push origin main
	pushfwl = push --force-with-lease
	staash = stash --all

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[pull]
	ff = only

[init]
	defaultBranch = main

[rerere]
	enabled = true

[branch]
	sort = -committerdate

[push]
	autoSetupRemote = true
